<!-- Modal -->
<div class="modal fade" id="allServices" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="text-center">Our Services</span></h4>
            </div>
            <div class="modal-body">
                <ul class="list-group ">
                    <li class="list-group-item active">
                        <h4 class="list-group-item-heading"> Detailed list of all our services</h4>
                        <p class="list-group-item-text">We provide all kind of outdoor & indoor advertisement
                            material.</p>
                    </li>
                    <li class="list-group-item">
                        Glow Sign Board
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"> Flex Printing</h4>
                        <p class="list-group-item-text">
                            Flex Boards & Flex Banners
                    </li>
                    <li class="list-group-item">
                        Digital Printing
                    </li>
                    <li class="list-group-item">
                        Screen Cloth Banner
                    </li>
                    <li class="list-group-item">Canopy</li>
                    <li class="list-group-item">Standee</li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"> Name Plates</h4>
                        <p class="list-group-item-text">
                            Steel,
                            Acrylic,
                            Brass,
                            ACP Sheet &
                            Sunboard
                        </p>
                    </li>
                    <li class="list-group-item">LED Board</li>
                    <li class="list-group-item">Acrylic Letter</li>
                    <li class="list-group-item">Steel Letter</li>
                    <li class="list-group-item">Pin-up Board</li>
                    <li class="list-group-item">White Board</li>
                    <li class="list-group-item">Id-Cards</li>
                    <li class="list-group-item">Mugs, Plates, T-shirt, Digital Photo
                        printing etc
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">All Kinds of Screens & Offset</h4>
                        <p class="list-group-item-text">
                            Visiting Cards, Bill book,
                            Brochure,
                            Flair,
                            Pamphlets,
                            School Examination Copies,
                            School Diaries,
                            School Magazine,
                            Official Magazines,
                            Office files,
                            Rubber Stamp &
                            Computerised Stamps etc
                        </p>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>