<header id="home" class="home">
    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="banner-1">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                                <div class="home-content sections">
                                    <h1>Simple, Beautiful <span>and Amazing</span></h1>
                                    <p>
                                        Hire us to get you into market with our beautiful and innovative designs
                                        targeting the customer
                                        base at effective cost.
                                        Our fast delivery and reliable services gives you a satisfactory results.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<img src="assets/images/banner.jpg" alt="Los Angeles" style="width:100%;">-->
                </div>

                <div class="item">
                    <div class="banner-2">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                                <div class="home-content sections">
                                   <!-- <h1>Simple, Beautiful <span>and Amazing</span></h1>
                                    <p>
                                        Hire us to get you into market with our beautiful and innovative designs
                                        targeting the customer
                                        base at effective cost.
                                        Our fast delivery and reliable services gives you a satisfactory results.
                                    </p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="banner-3">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                                <div class="home-content sections">
                                    <!--<h1>Simple, Beautiful <span>and Amazing</span></h1>-->
                                    <!--<p>-->
                                        <!--Hire us to get you into market with our beautiful and innovative designs-->
                                        <!--targeting the customer-->
                                        <!--base at effective cost.-->
                                        <!--Our fast delivery and reliable services gives you a satisfactory results.-->
                                    <!--</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="banner-4">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                                <div class="home-content sections">
                                    <!--<h1>Simple, Beautiful <span>and Amazing</span></h1>
                                    <p>
                                        Hire us to get you into market with our beautiful and innovative designs
                                        targeting the customer
                                        base at effective cost.
                                        Our fast delivery and reliable services gives you a satisfactory results.
                                    </p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>
