<!-- Sections -->
<section id="contact" class="sections">
    <style>
        .svg-icon-m {
            text-align: center;
        }

        .mk-svg-icon {
            /*border: 1px solid #1b6d85;*/
            border-radius: 50%;
            padding: 10px;
            height: 78px;
            width: 78px;

            background-color: #ffbbdb;
        }

        .mk-svg-icon:hover {
            background-color: #b48b01;
            opacity: 0.7;
        }

        .logo-section-contact-us {
            padding-top: 20px;
        }
    </style>

    <h5 class="container">
        <div class="heading-content  text-center">
            <h3>Contact Us</h3>
            <h5>
                Get in touch with us to help leverage your business. We have technology enthusiasts and evangelists who
                will
                join you and foster your business at very fast pace.
            </h5>
        </div>
        <hr/>

        <div class="row">
            <div class="col-md-4">
                <div class="svg-icon-m">
                    <svg class="mk-svg-icon" data-name="mk-moon-location-3"
                         data-cacheid="icon-59d97bcb08935"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M256 480c-88.366 0-160-71.634-160-160 0-160 160-352 160-352s160 192 160 352c0 88.366-71.635 160-160 160zm0-258c-54.124 0-98 43.876-98 98s43.876 98 98 98 98-43.876 98-98-43.876-98-98-98zm-62 98a62 62 1260 1 0 124 0 62 62 1260 1 0-124 0z"
                              transform="scale(1 -1) translate(0 -480)"></path>
                    </svg>
                    <div class="page-heading">Address</div>
                    <div class="page-description">
                        <b>V K Enterprises</b>
                        <br>
                        J21-09,
                        Sector-55
                        <br>
                        Noida, 103204
                        <br/>
                        Uttar Pradesh, India
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="svg-icon-m">
                    <svg class="mk-svg-icon" data-name="mk-moon-phone-4"
                         data-cacheid="icon-59d97bcb0bf17"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M321.788 371.146c-11.188 6.236-20.175 2.064-32.764-4.572-11.46-8.748-45.402-35.438-81.226-71.188-26.156-33.084-46.162-64.288-55.375-79.293-.625-1.66-.944-2.632-.944-2.632-5.397-13.476-8.771-22.92-1.324-33.521 6.854-9.727 9.5-12.383 18.24-20.108l-87.79-130.124c-10.604 7.728-27.018 25.106-40.509 44.378-12.538 18.317-23.154 38.587-26.049 53.055 15.295 55.117 52.258 157.896 120.583 231.325l-.021.308c65.73 81.028 170.165 131.43 225.571 153.226 14.679-1.385 35.938-9.844 55.456-20.404 20.598-11.415 39.567-25.945 48.329-35.685l-120.288-100.829c-8.597 7.91-11.498 10.254-21.889 16.064zm-116.178-242.488c7.241-5.302 5.313-14.944 1.926-20.245l-66.579-101.913c-4.344-5.291-13.396-8.064-21.252-5.579l-27.433 18.381 88.034 129.879 25.304-20.523zm287.339 269.188l-94.473-76.788c-4.93-3.918-14.313-6.838-20.325-.188l-23.046 23.05 120.047 101.015 21.136-25.357c3.285-7.564 1.467-16.857-3.339-21.732z"></path>
                    </svg>
                    <div class="page-heading">Phone</div>
                    <div class="page-description">
                        <b> (+91) 9718598804 |
                            (+91) 9717211666</b>
                        <br/>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="svg-icon-m">
                    <svg class="mk-svg-icon" data-name="mk-moon-bubble-dots"
                         data-cacheid="icon-59d97bcb0d0cc"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M418 32h-324c-51.7 0-94 42.3-94 94v354l96-96h322c51.7 0 94-42.3 94-94v-164c0-51.7-42.3-94-94-94zm-258 224c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm96 0c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm96 0c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32z"></path>
                    </svg>

                    <div class="page-heading">Email</div>
                    <div class="page-description">
                        vkent.103@gmail.com <br/>
                        mahipals366@gmail.com
                        <br>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div class="heading-content text-center"><h3>Write to us</h3></div>
                <div style="text-align: left">
                    Please feel free to write to us and we'll get back to you as soon as possible.
                    <br/>
                    <br/>
                    If you wish to be considered for employment at Soft I Venture, please do not send a message, here –
                    instead,
                    please complete Soft I Venture’s job application and our Human Resources department will contact you
                    after
                    their review of your submitted information.


                    <div class="logo-section-contact-us">
                        <div class="media-heading">
                            <img src="assets/images/logo/logo.png" alt="logo not loaded ...">
                        </div>

                        <div>
                            © 2017, V K Enterprises
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="bd-example" data-example-id="">
                    <form action="mailto:softiventure@gmail.com" method="post" enctype="text/plain">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp"
                                   placeholder="Enter First Name">
                            <small id="firstNameHelp" class="form-text text-muted">Please enter your first name.</small>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp"
                                   placeholder="Enter Last Name">
                            <small id="lastNameHelp" class="form-text text-muted">Please enter your last name.</small>
                        </div>
                        <div class="form-group">
                            <label for="contactNumber">Contact Number</label>
                            <input class="form-control" type="tel" id="contactNumber"
                                   aria-describedby="contactNumberHelp"
                                   value="" placeholder="Enter Phone Number e.g. (+91)-9654532023">
                            <small id="contactNumberHelp" class="form-text text-muted">Please enter your contact number
                                with
                                pin code.
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">Comments</label>
                            <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Please confirm that V K Enterprises could contact and assist you.
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit"/>
                    </form>
                </div>

            </div>
        </div>
        </div>
</section>