<!-- Sections -->
<section id="contact">

    <div id="map"></div>

    <div class="container text-center">

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                <div class="contact-form-area">
                    <form action="mailto:vkent013@gmail.com" method="post" enctype="text/plain">
                        <h3>Contact</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Subject">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary contact-btn">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>