
<!-- Sections -->
<section id="features" class="sections lightbg">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Features</h3>
            <h5>We always strive to introduce best in class features to our products & services.</h5>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-bookmark-o"></i>
                    <h5>Attractive Layout</h5>
                    <p>We bring in attractive layouts and standardized print sizes that suites your space and market
                        availability.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-tablet"></i>
                    <h5>Creative Designs</h5>
                    <p>Rest assured! As our design tech team brings in highly innovative idea and delivers a creatively
                        designed product for you.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-comments"></i>
                    <h5>Orientation Based</h5>
                    <p>Anything we design or print is highly oriented around your exact requirements.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-comment-o"></i>
                    <h5>Easy to customize</h5>
                    <p>Customize easily all your printed material with the help of our expert designers.</p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>