<!--Footer-->
<footer id="footer" class="footer colorsbg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="copyright text-left">
                    <p>&copy;<a href="http://bootstrapthemes.co"> Soft I Ventures </a>2017.
                        All rights reserved.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="copyright text-right">
                    <p>Terms of Service </p>
                </div>
            </div>
        </div>
    </div>
</footer>