<!-- Sections -->
<section id="ourClients" class="sections" style="background-color: snow">
    <div class="container text-center">
        <div class="heading-content">
            <h3>Our Clients</h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/Allahabad-Bank-logo.jpg" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/wheelers-lane.png" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/fashion-fusion.jpg" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/softiventures.png" class="logo-img"/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/creation.jpg" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/csdc.jpg" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/jqor.jpg" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/mahindra.jpg" class="logo-img"/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <img src="assets/images/clients/polycom.jpg" class="logo-img"/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            </div>
        </div>

        <hr/>
</section>
