<!-- Sections -->
<section id="services" class="sections light-dark-bg">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Services & Products</h3>
            <h5>We service in print advertisement and supply print materials with delivery services.</h5>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-bookmark-o"></i>
                    <h5>Flex</h5>
                    <p>A great variety of flex print material and design team that delivers right flex at your door
                        step.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-tablet"></i>
                    <h5>Badges / Cards / Pamphlets </h5>
                    <p>We create high quality design badges / cards / Pamphlets (Colored / Black & White) that suites
                        all your needs.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-comments"></i>
                    <h5>Print Advertisement</h5>
                    <p>We help in print advertisement from designing, printing to delivering and distributing by
                        identifying your potential Market.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-comment-o"></i>
                    <h5>Hoardings</h5>
                    <p>We also expertise in hoardings manufacture and placement in market so that it reaches to maximum
                        market.</p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>
