<!-- Sections -->
<section id="services" class="sections">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Services & Products</h3>
            <h5>We service in print advertisement and supply print materials with delivery services.</h5>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/1.jpg" class="service-img"/>
                    <h5>Flex / Vinyl Printing</h5>
                    <p>A great variety of flex print material and well qualified design team that delivers right flex & vinyls at your door
                        step.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/2.jpg" class="service-img"/>
                    <h5>Screen / Offset Printing </h5>
                    <p>We create high quality Screen & Offset prints (Colored / Black & White) that suites
                        all your needs.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/3.jpg" class="service-img"/>
                    <h5>LED Letter Boards / Name Plates</h5>
                    <p>We help in print advertisement from designing, printing to delivering and distributing by
                        identifying your potential Market. We master in name plate design & LED letter board printing.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <img src="{{site.baseurl}}/assets/images/services/4.jpg" class="service-img"/>
                    <h5>Hoardings / Boards</h5>
                    <p>We also expertise in hoardings manufacture and placement in market so that it reaches to maximum
                        market.</p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="container">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#allServices"><b> View
                All
                Services</b></button>
        </div>
    </div>
{% include all-services.html %}
</section>
