<!-- Sections -->
<section id="testimonial" class="sections" style="background-color: #f1f9dd">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Our Team</h3>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="item ">
                    <div class="col-md-4">
                        <div class="testimonial-photo">
                            <img src="assets/images/team/1.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="testimonial-content">
                            <p>An entrepreneur by profession having experience of more than 5 years in print
                                marketing and Designing.</p>
                            <h6><strong>Vinod Kumar</strong>
                                <br/>
                                Director
                                <br/><b>Ph. no. </b> - (+91)9718598804
                                <br/><b>Email Id</b> - vk.ent013@gmail.com
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>