<!-- Sections -->
<section id="testimonial" class="sections" style="background-color: #f1f9dd">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Our Team</h3>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <div class="col-md-4">
                                <div class="testimonial-photo">
                                    <img src="assets/images/team/1.jpg" alt=""/>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="testimonial-content">
                                    <p>An entrepreneur by profession having experience of more than 5 years in print
                                        marketing and Designing.</p>
                                    <h6><strong>Vinod Kumar</strong>
                                        <br/>
                                        Director
                                        <br/><b>Ph. no. </b> - (+91)9718598804
                                        <br/><b>Email Id</b> - vk.ent013@gmail.com
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-md-4">
                                <div class="testimonial-photo">
                                    <img src="assets/images/team/2.jpg" alt=""/>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="testimonial-content">
                                    <p>An ethusiast in marketing. He manages all the marketing related work at V K
                                        enterprises.</p>
                                    <h6><strong>MahiPal Singh</strong>
                                        <br/>
                                        Market Head
                                        <br/><b>Ph. no. </b> - (+91)9717211666
                                        <br/><b>Email Id</b> - mahipals366@gmail.com
                                    </h6>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>